<div class="row m-2">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-title text-center">
               <span class="fs-6 fw-bold">Edit Listing</span> 
            </div>
            <div class="card-body">
                <app-listing-data-form buttonText="Save Changes" 
                                        [currentName]="listing.name"
                                        [currentDescription]="listing.description"
                                        [currentPrice]="listing.price"
                                       (onSubmit)="onSubmit()">
                </app-listing-data-form>
            </div>
        </div>        
    </div>
</div>
