<div class="container border border-1 shadow-sm p-1 h-100 align-self-center text-center">
  <div class="row">
    <div class="col">
      <h5> Create New Component </h5>
    </div>
    <hr />
  </div>

  <div class="row">
    <div class="col">
      <span class="text-center">[Create Component Form Will Go Here]</span>
      <br />
      <br />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="d-flex flex-row justify-content-end">
        <button class="bt btn-sm btn-primary me-2 border-0">Create New Activity</button>
        <button class="bt btn-sm btn-cancel border-0" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>
