<div class="card">
  <div class="card-title">
    Send the owner a message !
  </div>

  <div class="card-body">

    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="app-email-id-input" name="email" [(ngModel)]="email" placeholder="name@example.com" />
      <label for="app-email-id-input">Email address</label>
    </div>
 
    <div class="form-floating mb-3">
      <textarea class="form-control" id="app-email-id-input" name="email" [(ngModel)]="message" placeholder="enter your message here" ></textarea>
      <label for="app-email-id-input">Message to the seller</label>
    </div>
  </div>

  <div class="card-footer">
    <button class="btn btn-secondary" type="button" (click)="sendMessage()">Send</button>
  </div>
</div>
