<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">

    <a class="navbar-brand" href="#">TDG</a>

    <div class="collpase navbar-collapse" id="applicaation-navbar-nav">
        <div class="navbar-nav">
          <a class='nav-link' routerLink='/home'>Home</a>
          <a class='nav-link' routerLink='/contact-us'>Contact Us</a>
          <a class='nav-link' routerLink='/send-get-request'>Send GET Request</a>
        </div>
    </div>

  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
