<div class="card mx-3 my-3" *ngFor="let listing of listings">
    <div class="card-header">
           {{listing.name}}
       </div>
       <div class="card-body">
          <p>{{listing.description}}</p>
          <p>{{listing.price}}</p>
       </div>
       <div class="card-footer">
           <a class="text-decoration-none btn text-primary" type="button" routerLink="/edit-listing/{{listing.id}}">Edit</a>
           <button class="btn btn-secondary" (click)="onDeleteMyListings(listing.id)">Delete</button>
       </div>
   </div>

   <a class="text-decoration-none btn btn-primary btn-sm mx-3" role="button" routerLink="/new-listing">Go to New Listing page</a>
   