<div class="card my-2">
    <div class="card-body">
        <div class="row row-cols-2">
            <div class="col">
                <div class="card-title"> CURRENT AIR QUALITY </div>
                <div class="card-subtitle mb-2 text-muted">{{forecast?.time}}</div>
            </div>
            <div class="col">
                <ol class="list-group list-group-flush">
                    
                    <li class="list-group-item d-flex justifiy-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <span class="fw-bold">Air Quality</span>
                        </div>
                        <span class="fw-normal">{{forecast?.air_quality}}</span>
                    </li>

                    <li class="list-group-item d-flex justifiy-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <span class="fw-bold">Wind</span>
                        </div>
                        <span class="fw-normal">{{forecast?.wind}}</span>
                    </li>

                    <div *ngIf="forecast?.location">
                        <li class="list-group-item d-flex justifiy-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <span class="fw-bold">Location</span>
                            </div>
                            <span class="fw-normal">{{forecast?.location.city}}</span>
                        </li>
                    </div>
                    <div>
                        <li class="list-group-item d-flex justifiy-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <span class="fw-bold">Time</span>
                            </div>
                            <span>{{forecast?.time}}</span>
                        </li>
                    </div>
    
                    <div>
                        <li class="list-group-item d-flex justifiy-content-between align-items-start">
                            <div class="ms-2
                                me-auto">
                                <span class="fw-bold">Time of the day</span>
                            </div>
                        </li>
                    </div>
                </ol>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary white-color me-2">View</button>
            <button class="btn btn-secondary" [routerLink]="['/forecasts']">Back</button>
        </div>
    </div>
</div>