<div class="container-fluid p-0">
  <div class="d-flex justify-content-center mh-100">
    <div class="card w-25">
      <div class="card-header">
          {{this.component.id}}
      </div>

      <div class="card-body">
        <div class="card-title">
          {{this.component.name}}
        </div>

        <div class="card-subtitle">
          {{this.component.owner}}
        </div>

        <div class="card-text">
          {{this.component.type}}
        </div>
      </div>

      <div class="card-footer">
          {{this.component.version}}
      </div>
    </div>
  </div>
</div>
